header {
  font-size: 25pt;
  margin-bottom: 5px;
}

.rowHeader {
  display: flex;
  justify-content: flex-start;
}

.buttonRow {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}

.buttonAdd {
  margin: 5px;
}

.buttonCancel {
  margin: 5px;
}

.d-none {
  display: none;
}

.col-form-label {
  margin-right: -60px;
}

.col:nth-of-type(2) {
  padding-left: 40px;
}

.vl {
  border-left: 1px solid rgb(136, 136, 136);
  height: 208px;
}
