.table {
  margin: 2%;
}

header {
  font-size: 25pt;
}

.rowHeader {
  display: flex;
  justify-content: flex-start;
}

.buttonRow {
  display: flex;
  justify-content: flex-start;
}

.buttonAdd {
  margin: 5px;
}

.buttonCancel {
  margin: 5px;
}

.d-none {
  display: none;
}
